body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px;
	background: #f1f1f1;
}

.fa {
	margin-right: 6px;
	font-size: 90%;
}
._fa-reset {
	margin-right: 0;
}
._fa-full {
	font-size: 100%;
}
._fa-bigger {
	font-size: 120%;
}

._dropdown-smaller>li>a, ._dropdown-smaller form>li>a {
	padding: 3px 12px !important;
    font-size: 13px !important;
    display: block;
    color: #333;
}
._dropdown-smaller>li>a:focus, ._dropdown-smaller>li>a:hover,
._dropdown-smaller form>li>a:focus, ._dropdown-smaller form>li>a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #3498db;
}
	._dropdown-smaller .divider {
		margin: 6px 0 !important;
	}

._dropdown-darker {
	background: #206694;
}
._dropdown-darker>li>a, ._dropdown-darker form>li>a {
    color: #fff;
}
._dropdown-darker>li>a:focus, ._dropdown-darker>li>a:hover,
._dropdown-darker form>li>a:focus, ._dropdown-darker form>li>a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #2F73A0;
}

._marginAuto {
	margin: auto !important;
}

._marginTop10 {
	margin-top: 10px !important;
}

._marginRight0 {
	margin-right: 0 !important;
}
._marginRight6 {
	margin-right: 6px !important;
}

._alert-sm {
	padding: 8px;
    margin-bottom: 12px;
}

._text-ellipsis {
	white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

._text-break {
	word-break: break-all !important;
}

._datePickerIcon {
	cursor: pointer;
}



._loadingSpinner__holder {
	display: block;
	text-align: center;
	margin: 5px 0 15px 0;
}
	._loadingSpinner__holder ._loadingSpinner {
		font-size: 26px;
		display: block;
		margin: 0;
		margin-bottom: 2px;
		color: #3498db;
	}
	._loadingSpinner__holder span {
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
	}

/*tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 height: auto;
 display: -moz-groupbox;
}
tbody{
  overflow-y: scroll;      
  max-height: 500px;
  width: 100%;
  position: absolute;
}*/

._v-center-items {
	display: flex;
	align-items: center;
}

._content-card {
	background: #fff;
	padding: 15px 12px;
	box-shadow: 0 1px 2px rgba(0,0,0,.18);
	border-radius: 0px;
	border: none;
}

._fade {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index: 999;
	display: none;
}

._navbar-main {
	margin-bottom: 30px;
	background: #2980b9;
	border: none;
	border-radius: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.18);
}
	._navbar-main .navbar-brand,
	._navbar-main .navbar-brand:focus {
		color: #fff;
		text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
		font-weight: 600;
		margin-right: 8px;
		transition: 0.12s ease-out;
	}
	._navbar-main .navbar-brand:hover {
		text-shadow: 0 0 4px rgba(255, 255, 255, 0);
		color: #fff;
	}
	._navbar-main .navbar-nav>li>a,
	._navbar-main .navbar-nav>li>a:focus {
		color: #fff;
		transition: 0.15s ease-out;
	}
	._navbar-main .navbar-nav>li>a:hover {
		color: #fff;
		box-shadow: inset 0 -50px 0 #206694;
	}
	._navbar-main .navbar-nav>.active>a, 
	._navbar-main .navbar-nav>.active>a:focus, 
	._navbar-main .navbar-nav>.active>a:hover {
		color: #fff;
		font-weight: 600;
		background: #3498db;
		box-shadow: none;
	}
	._navbar-main .navbar-toggle,
	._navbar-main .navbar-toggle:focus {
		border: none;
		background: none;
	} 
	._navbar-main .navbar-toggle:hover {
		background: #1D70A7;
	}
		._navbar-main .navbar-toggle .icon-bar {
			background: #fff;
		}
	._navbar-main .navbar-collapse, 
	._navbar-main .navbar-form {
		border-color: #1D70A7;
		box-shadow: inset 0 1px 0 rgba(255,255,255,.06);
	}

	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
		color: #fff;
		box-shadow: inset 0 -50px 0 #206694;
		background-color: #206694;
	}

._phone-book-topbar {
	background: linear-gradient(top, #fff, #f5f5f5);
	background: -webkit-linear-gradient(top, #fff, #f5f5f5);
	padding: 6px 8px;
	margin-bottom: 20px;
	border: 1px solid #dadada;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
	._phone-book-topbar ._pb-topbar-left {
		
	}
	@media (max-width: 768px) {
		._phone-book-topbar ._pb-topbar-left {
			margin-bottom: 6px;
		}
	}
		._phone-book-topbar ._pb-topbar-left span {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			color: #888;
			line-height: 14px;
		}
			._phone-book-topbar ._pb-topbar-left span b {
				font-size: 13px;
				background: #1ABC9C;
				padding: 1px 6px;
				color: #fff;
				border-radius: 3px;
			}
	._phone-book-topbar ._pb-topbar-right {
		
	}
	._phone-book-topbar .form-control {
		height: 30px;
		padding: 4px 8px;
	}
	._phone-book-topbar .input-group {
		/*max-width: 300px;*/
	}
	._phone-book-topbar .form-group {
		margin-bottom: 0 !important;
	}
	._phone-book-topbar .btn {
		padding: 4px 12px;
	}
	._phone-book-topbar ._paginationInfo {
		font-size: 11px;
		margin-right: 5px;
	}
		._phone-book-topbar ._paginationInfo b {
			font-weight: 600;
		}

._phone-book {
	width: 100%;
}
	._phone-book ._pb-item {
		width: 23%;
		height: auto;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 18px;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0 1px 1px rgba(0,0,0,0.08);
		/*transition: 0.1s ease-out;*/
	}
	._phone-book ._pb-item:nth-child(4n) {
		margin-right: 0;
	}
	._phone-book ._pb-item:hover {
		/*transform: scale(1.08);*/
	}
	._phone-book ._pb-item-active {
		position: absolute;
	}
	@media (max-width: 1200px) {
		._phone-book ._pb-item, ._phone-book ._pb-item:nth-child(4n)  {
			width: 31%;
			margin-left: 1%;
			margin-right: 1%;
		}
		._phone-book ._pb-item:nth-child(3n) {
			margin-right: 0;
		}
	}
	@media (max-width: 768px) {
		._phone-book ._pb-item, ._phone-book ._pb-item:nth-child(4n), ._phone-book ._pb-item:nth-child(3n) {
			width: 46%;
			margin-left: 2%;
			margin-right: 2%;
		}
		._phone-book ._pb-item:nth-child(2n) {
			margin-right: 0;
		}
	}
		._pb-item ._pb-i-top {
			background: #1abc9c;
			padding: 8px 7px;
			border-bottom: 2px solid #16a085;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			transition: 0.1s ease-out;
		}
		._phone-book ._pb-item:hover ._pb-i-top {
			background: #3498db;
			border-bottom: 2px solid #2980b9;
		}
			._pb-item ._pb-i-top h2 {
				font-size: 16px;
				margin: 0;
				font-weight: 700;
				line-height: 20px;
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,0.45);
			}
		._pb-item ._pb-i-content {
			border: 1px solid #ddd;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
			._pb-item ._pb-i-content ._pb-i-info-holder {
				padding: 7px;
			}
				._pb-item ._pb-i-info-holder ._pb-i-info, ._pb-i-info-glob {
					margin-bottom: 4px;
					padding-bottom: 4px;
					border-bottom: 1px solid #eee;
				}
				._pb-item ._pb-i-info-holder ._pb-i-info:last-child, ._pb-i-info-glob:last-child {
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
					._pb-item ._pb-i-info-holder ._pb-i-info ._info-title, ._pb-i-info-glob ._info-title {
						font-weight: 600;
						color: #666;
						font-size: 90%;
						display: block;
						margin-bottom: 1px;
					}
					._info-expanded ._info-title {
						font-size: 100% !important;
					}
					._pb-item ._pb-i-info-holder ._pb-i-info ._info-value, ._pb-i-info-glob ._info-value {
						
					}
			._pb-item ._pb-i-content ._pb-i-actions {
				background: #f5f5f5;
				padding: 5px 7px;
			}


#info {
	z-index: 1000;
	position: absolute;
}

._pb-item-active {
	width: 430px !important;
	z-index: 1001 !important;
}
@media (max-width: 600px) {
	._pb-item-active {
		width: auto !important;
		margin: 0 !important;
		left: 15px !important;
		right: 15px !important;
	}
}
	._pb-item-active ._pb-i-top {
		background: #3498db;
		border-bottom: 2px solid #2980b9;
	}
		._pb-item-active ._pb-i-top h2 {
			font-size: 20px;
		}

._pb-item-more {
	max-width: 600px !important;
}
	._pb-item-more ._pb-panel-h {
		font-size: 22px;
		font-weight: 600;
		margin: 0 0 12px 0;
		padding: 0 0 12px 0;
		position: relative;
	}
	._pb-item-more ._pb-panel-h:after {
		content: '';
		position: absolute;
		height: auto;
		left: 0;
		width: 40px;
		bottom: 0;
		border-bottom: 3px solid #3498db;
	}
	._pb-item-more ._pb-panel-map {
		height: auto;
	}
		._pb-panel-map #pb-item-map {
			height: 150px;
			width: 100%;
			opacity: 0;
		}

._full-map-cont {
	position: absolute;
	top: 0px;
	z-index: -1;
}






.animated, .animated {
    -webkit-animation-duration: 0.8s !important;
    animation-duration: 0.8s !important;
}