@mixin marginSize($value, $side) {
	@if $side == t {
		margin-top: $value !important;
	}
	@else if $side == r {
		margin-right: $value !important;
	}
	@else if $side == b {
		margin-bottom: $value !important;
	}
	@else if $side == l {
		margin-left: $value !important;
	}
}

@mixin noSelect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 * Breakpoints
 */
@mixin breakpoint($point) {
	@if $point == small_phone {
		@media only screen and (max-width: 567px) { @content; }
	}
	@if $point == phone {
		@media only screen and (min-width: 568px) and (max-width: 767px) { @content; }
	}
	@else if $point == tablet {
		@media only screen and (min-width: 768px) and (max-width: 991px) { @content; }
	}
	@else if $point == desktop {
		@media only screen and (min-width: 992px) and (max-width: 1199px) { @content; }
	}
	@else if $point == large_desktop {
		@media only screen and (min-width: 1200px) { @content; }
	}
}