$font_size: 14px;

$col_bcg: #fcfcfc;
$col_bcg_light: #fff;
$col_primary: #2c3e50; //dark-blue
$col_primary_light: lighten($col_primary, 10%);
$col_secondary: #3A9AD9; //blue
$col_third: #29ABA4;  //cyan
$col_fourth: #EB7260; //light-red
$col_fifth: #E9E0D6; //light-yellow

$col_font: #111;
$col_font_light: lighten($col_font, 30%);
$font_size_value_bigger: 22px;