@import 'variables';
@import 'mixins';
@import 'helpers';

body {
	font-family: 'Lato', sans-serif !important;
	font-size: $font_size;
	background: $col_bcg;
	color: $col_font;
	line-height: 1.38;
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 0 !important;
}

.bootstrap-datetimepicker-widget table td span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0;
}

small {
	font-size: 82%;
}

.navbar {
	margin-bottom: 15px;
}
.navbar-brand {
	margin-right: 10px;
}

._multiple-select {
	min-height: 150px !important;
}

._title-main {
	font-weight: 300;
	font-size: 34px;
	margin: 20px 0 20px 0;
	&._spacing-lg {
		margin-bottom: 40px !important;
	}
}

.dropdown-menu>form>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.846;
    color: #666666;
    white-space: nowrap;
    &:hover {
    	text-decoration: none;
	    color: #141414;
	    background-color: #eeeeee;
    }
}

._tooltip-small {
	font-size: 10px;
	padding: 1px 8px;
}

#chk-ins-new-alert {
	border-radius: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
}

#chkd-in-sectors-occup {
	overflow: visible;
	margin-bottom: 20px;
}

._rendered-pagin {
	.pagination {
		margin: 10px 0 0 0;
		& > li {
			display: none;
			&:nth-child(-n+4), &:nth-last-child(-n+4), &.active {
				display: inline;
			}
			& > a,
			& > span {
				padding: 3px 12px;
			}
		}
	}
}

.well {
	h3 {
		margin: 0 0 10px 0;
		padding-bottom: 8px;
	    font-size: 16px;
	    border-bottom: 1px solid #e8e8e8;
	}
}

._counter-holder {
	text-align: center;
	._counter-title, ._counter-num {
		display: block;
	}
	._counter-title {
		font-size: 13px;
    	text-transform: uppercase;
    	margin-bottom: 4px;
	}
	._counter-num {
		font-size: 30px;
    	text-transform: uppercase;
    	color: #2196f3;
    	font-weight: 800;
	}
}

._user-show {
	h1 {
		font-weight: 600;
	    margin-top: 10px;
	    margin-bottom: 20px;
	    font-size: 38px;
	}
}