.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/**
 * Breakpoints
 */
.fa {
  margin-right: 6px;
  font-size: 90%; }

._fa-reset {
  margin-right: 0; }

._fa-full {
  font-size: 100%; }

._fa-bigger {
  font-size: 120%; }

._alert-sm {
  padding: 6px 12px; }

._a-clear {
  color: inherit !important;
  text-decoration: none !important; }
  ._a-clear:hover, ._a-clear:active, ._a-clear:focus {
    color: inherit !important;
    text-decoration: none !important; }

._a-main {
  color: #2c3e50 !important;
  text-decoration: none !important; }
  ._a-main:hover, ._a-main:active, ._a-main:focus {
    color: #4d6c8b !important;
    text-decoration: underline !important; }

._no-padding {
  padding: 0 !important; }

._no-margin {
  margin: 0 !important; }

._marginAuto {
  margin: auto !important; }

._marginTop0 {
  margin-top: 0px !important; }

._marginTop6 {
  margin-top: 6px !important; }

._marginTop10 {
  margin-top: 10px !important; }

._marginTop15 {
  margin-top: 15px !important; }

._marginRight0 {
  margin-right: 0px !important; }

._marginRight6 {
  margin-right: 6px !important; }

._marginRight15 {
  margin-right: 15px !important; }

._marginBtm6 {
  margin-bottom: 6px !important; }

._marginBtm15 {
  margin-bottom: 15px !important; }

._marginBtm20 {
  margin-bottom: 20px !important; }

._marginLeft6 {
  margin-left: 6px !important; }

._text-ellipsis {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

._text-right {
  text-align: right; }

._text-break {
  word-break: break-all !important; }

._nowrap {
  white-space: nowrap !important; }

._small-text {
  font-size: 70%;
  line-height: 1.25; }

._v-center-items {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

._uppercase {
  text-transform: uppercase; }

._table-content-mid td {
  vertical-align: middle !important; }

._label-med {
  font-size: 85% !important; }

._label-full {
  font-size: 100% !important; }

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  background: #fcfcfc;
  color: #111;
  line-height: 1.38; }

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 0 !important; }

.bootstrap-datetimepicker-widget table td span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0; }

small {
  font-size: 82%; }

.navbar {
  margin-bottom: 15px; }

.navbar-brand {
  margin-right: 10px; }

._multiple-select {
  min-height: 150px !important; }

._title-main {
  font-weight: 300;
  font-size: 34px;
  margin: 20px 0 20px 0; }
  ._title-main._spacing-lg {
    margin-bottom: 40px !important; }

.dropdown-menu > form > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.846;
  color: #666666;
  white-space: nowrap; }
  .dropdown-menu > form > li > a:hover {
    text-decoration: none;
    color: #141414;
    background-color: #eeeeee; }

._tooltip-small {
  font-size: 10px;
  padding: 1px 8px; }

#chk-ins-new-alert {
  border-radius: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0; }

#chkd-in-sectors-occup {
  overflow: visible;
  margin-bottom: 20px; }

._rendered-pagin .pagination {
  margin: 10px 0 0 0; }
  ._rendered-pagin .pagination > li {
    display: none; }
    ._rendered-pagin .pagination > li:nth-child(-n+4), ._rendered-pagin .pagination > li:nth-last-child(-n+4), ._rendered-pagin .pagination > li.active {
      display: inline; }
    ._rendered-pagin .pagination > li > a,
    ._rendered-pagin .pagination > li > span {
      padding: 3px 12px; }

.well h3 {
  margin: 0 0 10px 0;
  padding-bottom: 8px;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8; }

._counter-holder {
  text-align: center; }
  ._counter-holder ._counter-title, ._counter-holder ._counter-num {
    display: block; }
  ._counter-holder ._counter-title {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 4px; }
  ._counter-holder ._counter-num {
    font-size: 30px;
    text-transform: uppercase;
    color: #2196f3;
    font-weight: 800; }

._user-show h1 {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 38px; }

/*# sourceMappingURL=admin.css.map */
