._login-row {
  background: #2980b9;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px; }

._login-holder {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto; }

._login-holder h1 {
  font-size: 28px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  color: #fff;
  float: left;
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: 600; }

._login-holder h2 {
  color: #fff;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  float: right;
  vertical-align: bottom; }

._login-holder input {
  background: #125988;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  color: #fff !important;
  font-weight: 400; }

._login-holder input:-webkit-autofill, ._login-holder textarea:-webkit-autofill, ._login-holder select:-webkit-autofill {
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #125988 inset; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color ease-in-out 0s; }

._login-holder ::-webkit-input-placeholder {
  color: white;
  font-size: 11px;
  padding-top: 2px;
  text-transform: uppercase; }

._login-holder :-moz-placeholder {
  color: white;
  font-weight: 400; }

._login-holder ::-moz-placeholder {
  color: white;
  font-weight: 400; }

._login-holder :-ms-input-placeholder {
  color: white;
  font-weight: 400; }

._login-holder button,
._login-holder button:focus {
  background: #3498DB;
  border-color: #2e6da4;
  font-weight: 600; }

._login-holder button:hover,
._login-holder button:active {
  background: #47A0DC !important;
  border-color: #2e6da4;
  box-shadow: none; }

/**
 * Breakpoints
 */
.fa {
  margin-right: 6px;
  font-size: 90%; }

._fa-reset {
  margin-right: 0; }

._fa-full {
  font-size: 100%; }

._fa-bigger {
  font-size: 120%; }

._a-clear {
  color: inherit !important;
  text-decoration: none !important; }
  ._a-clear:hover, ._a-clear:active, ._a-clear:focus {
    color: inherit !important;
    text-decoration: none !important; }

._a-main {
  color: #2c3e50 !important;
  text-decoration: none !important; }
  ._a-main:hover, ._a-main:active, ._a-main:focus {
    color: #4d6c8b !important;
    text-decoration: underline !important; }

._marginAuto {
  margin: auto !important; }

._marginTop0 {
  margin-top: 0px !important; }

._marginTop6 {
  margin-top: 6px !important; }

._marginTop10 {
  margin-top: 10px !important; }

._marginTop15 {
  margin-top: 15px !important; }

._marginRight0 {
  margin-right: 0px !important; }

._marginRight6 {
  margin-right: 6px !important; }

._marginRight15 {
  margin-right: 15px !important; }

._marginBtm15 {
  margin-bottom: 15px !important; }

._marginBtm20 {
  margin-bottom: 20px !important; }

._marginLeft6 {
  margin-left: 6px !important; }

._text-ellipsis {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

._text-right {
  text-align: right; }

._text-break {
  word-break: break-all !important; }

._nowrap {
  white-space: nowrap !important; }

._small-text {
  font-size: 70%;
  line-height: 1.25; }

._v-center-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

._uppercase {
  text-transform: uppercase; }

._table-content-mid td {
  vertical-align: middle !important; }

._label-med {
  font-size: 85% !important; }

._label-full {
  font-size: 100% !important; }

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  background: #fbfbfb;
  color: #111; }

.navbar {
  margin-bottom: 15px; }

.navbar-brand {
  margin-right: 10px; }

._title-main {
  font-weight: 300;
  font-size: 34px;
  margin: 20px 0 20px 0; }

/*# sourceMappingURL=app.css.map */
