/**
 * Breakpoints
 */
.fa {
  margin-right: 6px;
  font-size: 90%; }

._fa-reset {
  margin-right: 0; }

._fa-full {
  font-size: 100%; }

._fa-bigger {
  font-size: 120%; }

._alert-sm {
  padding: 6px 12px; }

._a-clear {
  color: inherit !important;
  text-decoration: none !important; }
  ._a-clear:hover, ._a-clear:active, ._a-clear:focus {
    color: inherit !important;
    text-decoration: none !important; }

._a-main {
  color: #2c3e50 !important;
  text-decoration: none !important; }
  ._a-main:hover, ._a-main:active, ._a-main:focus {
    color: #4d6c8b !important;
    text-decoration: underline !important; }

._no-padding {
  padding: 0 !important; }

._no-margin {
  margin: 0 !important; }

._marginAuto {
  margin: auto !important; }

._marginTop0 {
  margin-top: 0px !important; }

._marginTop6 {
  margin-top: 6px !important; }

._marginTop10 {
  margin-top: 10px !important; }

._marginTop15 {
  margin-top: 15px !important; }

._marginRight0 {
  margin-right: 0px !important; }

._marginRight6 {
  margin-right: 6px !important; }

._marginRight15 {
  margin-right: 15px !important; }

._marginBtm6 {
  margin-bottom: 6px !important; }

._marginBtm15 {
  margin-bottom: 15px !important; }

._marginBtm20 {
  margin-bottom: 20px !important; }

._marginLeft6 {
  margin-left: 6px !important; }

._text-ellipsis {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

._text-right {
  text-align: right; }

._text-break {
  word-break: break-all !important; }

._nowrap {
  white-space: nowrap !important; }

._small-text {
  font-size: 70%;
  line-height: 1.25; }

._v-center-items {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

._uppercase {
  text-transform: uppercase; }

._table-content-mid td {
  vertical-align: middle !important; }

._label-med {
  font-size: 85% !important; }

._label-full {
  font-size: 100% !important; }

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  background: #fcfcfc;
  color: #111; }

/*# sourceMappingURL=frontend.css.map */
